body{
    display: grid;
    grid-template-areas: "cabeca cabeca" "braco corpo" "pe pe";
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 1fr 4fr;

}
header{
    grid-area: cabeca;
    background-color: palevioletred;
}
aside{
    grid-area: braco;
    background-color: blueviolet;
}
main{
    grid-area: corpo;
    background-color: rgb(0, 225, 255);
}
footer{
    grid-area: pe;
    background-color: rgb(0, 0, 163);
}

@media only screen and (max-width: 850px){
    body{
        display: grid;
        grid-template-areas: "cabeca" "braco" "corpo" "pe";
        grid-template-rows: 100px 50px 500px 100px;
        grid-template-columns: auto;

    }
}
@media only screen and (max-width:450px){
    body{
        display: grid;
        grid-template-areas: "cabeca" "corpo" "pe";
        grid-template-rows: 100px 500px 100px;
        grid-template-columns: auto;

    }
    aside{
        display: none;
    }
}

.model{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    background-color: crimson;
    width: 400px;
    height: 500;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}
.imagem_produto{
    height: 350px;
}
.d_produto{
    color: darksalmon;
    font-size: xx-large;
}
.p_produto{
    color: rgb(255, 20, 20);
    font-size: 40px;
}
.botao_produto{
    font-size: 30px;
    background-color: black;
    width: 50%;
    text-decoration: none;
    height: 50px;
    border-radius: 20px;
}
.letra_botao{
    display: block;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
}
.prod{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}